node_modules
out
Project.toml.bak
Manifest.toml
Manifest-*.toml
.envrc
**/.JETLSConfig.toml
!.JETLSConfig.toml
*.vsix
docs/build/
docs/src/CHANGELOG.md
*.heapsnapshot
.JETLSProfile

# The following line is negated on release branches
!/vendor
